.matchbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  row-gap: 20px;
}
.match {
  width: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.match__head {
  background-color: $color-gray;
  border-radius: 10px 10px 10px 0px;
  height: 45px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.match__bottom {
  padding: 3px 12px;
  border-radius: 0 0 15px 15px;
  border: 1px solid $color-gray;
}
.team {
  display: flex;
  align-items: center;
  gap: 5px;
}
.team img {
  width: 20px;
  height: 20px;
}
.team p {
  font-size: 12px;
}
.score__box {
  display: flex;
  align-items: center;
  gap: 2px;
}
.home--home_team {
  color: $color-b;
  font-weight: 700;
}
.away--away_team {
  color: $color-b;
  font-weight: 700;
}
